<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Orfanatos - Happy</title>
		<link rel="icon" href="/images/logo-icon.png" />

		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/page-orphanage.css" />
		<link rel="stylesheet" href="/css/animations.css" />
		<link rel="stylesheet" href="/css/sidebar.css" />
		<link rel="stylesheet" href="/css/map.css" />
		<link rel="stylesheet" href="/css/buttons.css" />

		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
			rel="stylesheet"
		/>

		<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
			integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
			crossorigin=""
		/>

		<script
			src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
			integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
			crossorigin=""
		></script>
	</head>

	<body>
		<div id="page-orphanage">
			<aside class="animate-right sidebar">
				<img src="/images/map-marker.svg" alt="" />
				<footer>
					<button onclick="history.back();">
						<img src="/images/arrow-back.svg" alt="" />
					</button>
				</footer>
			</aside>
			<main class="animate-apper with-sidebar">
				<div class="orphanage-details">
					<img src="https://source.unsplash.com/random?id=1" alt="" />
					<div class="images">
						<button onclick="selectImage(event)" class="active" type="button">
							<img src="https://source.unsplash.com/random?id=1" alt="Lar das meninas" />
						</button>
						<button onclick="selectImage(event)" type="button">
							<img src="https://source.unsplash.com/random?id=2" alt="Lar das meninas" />
						</button>
						<button onclick="selectImage(event)" type="button">
							<img src="https://source.unsplash.com/random?id=3" alt="Lar das meninas" />
						</button>
						<button onclick="selectImage(event)" type="button">
							<img src="https://source.unsplash.com/random?id=4" alt="Lar das meninas" />
						</button>
						<button onclick="selectImage(event)" type="button">
							<img src="https://source.unsplash.com/random?id=5" alt="Lar das meninas" />
						</button>
						<button onclick="selectImage(event)"  type="button">
							<img src="https://source.unsplash.com/random?id=6" alt="Lar das meninas" />
						</button>
					</div>
					<div class="orphanage-details-content">
						<h1>Lar das Meninas</h1>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit.
							Consequatur, voluptatum?
						</p>
						<div class="map-container">
							<div id="mapid"></div>
							<footer>
								<a href="">Ver rotas no Google Maps</a>
							</footer>
						</div>
						<hr />
						<h2>Instruções para visita</h2>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem,
							blanditiis?
						</p>
						<div class="open-details">
							<div class="hour">
								<img src="/images/clock.svg" alt="" />
								Horário de visitas das 18h as 8h
							</div>
							<div class="open-on-weekends">
								<img src="/images/info.svg" alt="" />
								Atendemos fins de semana
							</div>
						</div>
						<button type="button" class="primary-button">
							<img src="/images/whatsapp.svg" alt="" />
							Entre em contato
						</button>
					</div>
				</div>
			</main>
		</div>

		<script src="/js/page-orphanage.js"></script>
	</body>
</html>
